@using asagiv.pushrocket.ui.common.Utilities
@inherits LayoutComponentBase
@inject WaitIndicatorService WaitIndicator
@inject NavigationManager NavManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">

    @Body

    <MudTabs Color="Color.Dark" Elevation="4" Class="fixed-bottom" Centered="true" Position="Position.Bottom" Border="true">
        <MudTabPanel Icon="@Icons.Material.Filled.Home" OnClick="(_ => HomeIconClicked())"/>
        <MudTabPanel Icon="@Icons.Material.Filled.Settings" OnClick="(_ => SettingsIconClicked())"/>
    </MudTabs>

</div>

<!-- SpinKit Type="SpinKitType.CircleFade" Centered="true" / -->
@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        WaitIndicator.WaitIndicatorSetObservable
            .Subscribe(SetWaitIndicator);
    }

    protected void SetWaitIndicator(bool showIndicator)
    {
        this.StateHasChanged();
    }

    protected void HomeIconClicked()
    {
        NavManager.NavigateTo("/");
    }

    protected void SettingsIconClicked()
    {
        NavManager.NavigateTo("/ConnectionSettings");
    }
}