@page "/ConnectionSettings"

<Div>

    <Div class="form-floating flex-grow-1" Margin="Margin.Is2">

        <TextEdit InputMode="TextInputMode.Text"
                  Class="form-control"
                  id="floatingInput"
                  placeholder=" " />

        <FieldLabel For="floatingInput">Connection Name</FieldLabel>

    </Div>

    <Div class="form-floating flex-grow-1" Margin="Margin.Is2">

        <TextEdit InputMode="TextInputMode.Url"
                  Class="form-control"
                  id="floatingInput"
                  placeholder=" " />

        <FieldLabel For="floatingInput">Connection String</FieldLabel>

    </Div>

    <Div class="form-floating flex-grow-1" Margin="Margin.Is2">

        <TextEdit InputMode="TextInputMode.Text"
                  Class="form-control"
                  id="floatingInput"
                  placeholder=" " />

        <FieldLabel For="floatingInput">Connection NodeName</FieldLabel>

    </Div>

</Div>

@code {

}
