@page "/"
@using Grpc.Net.Client
@using asagiv.pushrocket.common.Models
@using asagiv.pushrocket.ui.common.ViewModels
@inject MainViewModel ViewModel

<Div class="d-flex align-items-stretch">

    <Div class="form-floating flex-grow-1" Margin="Margin.Is2">

        <TextEdit InputMode="TextInputMode.Url" Background="Background.Light" TextColor="TextColor.Dark"
            class="form-control" id="floatingInput" @bind-Text="@ViewModel.ConnectionString" placeholder=" " />

        <FieldLabel For="floatingInput">Connection String</FieldLabel>

    </Div>

    <Button Color="Color.Primary" Margin="Margin.Is2" Clicked="@(x => ViewModel.ConnectCommand.Execute(null))">Connect</Button>

</Div>